In [38]:
import pandas as pd

In [39]:
df = pd.read_excel("All_IPL_Match_Scores_raw_backup.xlsx")
df

,Match_Number,Match,Date,Year,Venue,Team_Batting_First,Team_Batting_Second,Bat_First_Runs_Scored,Bat_First_Wickets_Lost,Bat_First_Overs_Consumed,...,Bat_Second_10_ov_score,Bat_Second_10_ov_wkts_lost,Bat_Second_10_ov_Req_RR,Bat_Second_15_ov_score,Bat_Second_15_ov_wkts_lost,Bat_Second_15_ov_Req_RR,Bat_Second_20_ov_score,Bat_Second_20_ov_wkts_lost,Match_Time,Duckworth Lewis Used
0,1,League Match,Apr 18,2008,Bangalore,Kolkata,Bangalore,222,3,20.0,...,51.0,7.0,17.2,81.0,9.0,28.4,NaN,NaN,Evening,NaN
1,2,League Match,Apr 19,2008,Mohali,Chennai,Punjab,240,5,20.0,...,110.0,1.0,13.1,165.0,3.0,15.2,207.0,4.0,Afternoon,NaN
2,3,League Match,Apr 19,2008,Delhi,Rajasthan,Delhi,129,8,20.0,...,86.0,1.0,4.4,128.0,1.0,0.4,NaN,NaN,Evening,NaN
3,4,League Match,Apr 20,2008,Kolkata,Hyderabad,Kolkata,110,10,18.4,...,38.0,3.0,7.3,81.0,4.0,6.0,NaN,NaN,Afternoon,NaN
4,5,League Match,Apr 20,2008,Mumbai,Mumbai,Bangalore,165,6,20.0,...,76.0,3.0,9.0,118.0,4.0,9.6,166.0,5.0,Evening,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,510,League Match,May 17,2015,Hyderabad,Hyderabad,Mumbai,113,10,20.0,...,73.0,0.0,4.1,NaN,NaN,NaN,NaN,NaN,Evening,NaN
510,511,Qualifier 1,May 19,2015,Mumbai,Mumbai,Chennai,187,6,20.0,...,86.0,2.0,10.2,121.0,6.0,13.4,NaN,NaN,Evening,NaN
511,512,Eliminator,May 20,2015,Pune,Bangalore,Rajasthan,180,4,20.0,...,68.0,3.0,11.3,92.0,7.0,17.8,NaN,NaN,Evening,NaN
512,513,Qualifier 2,May 22,2015,Ranchi,Bangalore,Chennai,139,8,20.0,...,62.0,3.0,7.8,91.0,3.0,9.8,140.0,7.0,Evening,NaN
513,514,Final,May 24,2015,Kolkata,Mumbai,Chennai,202,5,20.0,...,67.0,1.0,13.6,112.0,4.0,18.2,161.0,8.0,Evening,NaN

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Data columns (total 43 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Match_Number                514 non-null    int64
 1   Match                       514 non-null    object
 2   Date                        514 non-null    object
 3   Year                        514 non-null    int64
 4   Venue                       514 non-null    object
 5   Team_Batting_First          514 non-null    object
 6   Team_Batting_Second         514 non-null    object
 7   Bat_First_Runs_Scored       514 non-null    int64
 8   Bat_First_Wickets_Lost      514 non-null    int64
 9   Bat_First_Overs_Consumed    514 non-null    float64
 10  Bat_First_Overs_Allocated   514 non-null    int64
 11  Bat_Second_Runs_Scored      514 non-null    int64
 12  Bat_Second_Wickets_Lost     514 non-null    int64
 13  Bat_Second_Overs_Consumed   514 non-null    float64
 14  Bat_Second_Overs_Allocated  514 non-null    float64
 15  Winner                      514 non-null    object
 16  Winning_Team                514 non-null    object
 17  Winning_Margin              508 non-null    float64
 18  Win_Type                    508 non-null    object
 19  Bat_First_Run_Rate          514 non-null    float64
 20  Bat_Second_Run_Rate         514 non-null    float64
 21  Balls_Remaining             514 non-null    float64
 22  Bat_First_5_ov_score        514 non-null    int64
 23  Bat_First_5_ov_wkts_lost    514 non-null    int64
 24  Bat_First_10_ov_score       513 non-null    float64
 25  Bat_First_10_ov_wkts_lost   513 non-null    float64
 26  Bat_First_15_ov_score       506 non-null    float64
 27  Bat_First_15_ov_wkts_lost   506 non-null    float64
 28  Bat_First_20_ov_score       501 non-null    float64
 29  Bat_First_20_ov_wkts_lost   501 non-null    float64
 30  Bat_Second_5_ov_score       514 non-null    int64
 31  Bat_Second_5_ov_wkts_lost   514 non-null    int64
 32  Bat_Second_5_ov_Req_RR      512 non-null    float64
 33  Bat_Second_10_ov_score      506 non-null    float64
 34  Bat_Second_10_ov_wkts_lost  506 non-null    float64
 35  Bat_Second_10_ov_Req_RR     503 non-null    float64
 36  Bat_Second_15_ov_score      478 non-null    float64
 37  Bat_Second_15_ov_wkts_lost  478 non-null    float64
 38  Bat_Second_15_ov_Req_RR     468 non-null    float64
 39  Bat_Second_20_ov_score      305 non-null    float64
 40  Bat_Second_20_ov_wkts_lost  305 non-null    float64
 41  Match_Time                  514 non-null    object
 42  Duckworth Lewis Used        7 non-null      object
dtypes: float64(22), int64(11), object(10)
memory usage: 172.8+ KB

In [42]:
df.fillna(0, inplace=True)
df

,Match_Number,Match,Date,Year,Venue,Team_Batting_First,Team_Batting_Second,Bat_First_Runs_Scored,Bat_First_Wickets_Lost,Bat_First_Overs_Consumed,...,Bat_Second_10_ov_score,Bat_Second_10_ov_wkts_lost,Bat_Second_10_ov_Req_RR,Bat_Second_15_ov_score,Bat_Second_15_ov_wkts_lost,Bat_Second_15_ov_Req_RR,Bat_Second_20_ov_score,Bat_Second_20_ov_wkts_lost,Match_Time,Duckworth Lewis Used
0,1,League Match,Apr 18,2008,Bangalore,Kolkata,Bangalore,222,3,20.0,...,51.0,7.0,17.2,81.0,9.0,28.4,0.0,0.0,Evening,0
1,2,League Match,Apr 19,2008,Mohali,Chennai,Punjab,240,5,20.0,...,110.0,1.0,13.1,165.0,3.0,15.2,207.0,4.0,Afternoon,0
2,3,League Match,Apr 19,2008,Delhi,Rajasthan,Delhi,129,8,20.0,...,86.0,1.0,4.4,128.0,1.0,0.4,0.0,0.0,Evening,0
3,4,League Match,Apr 20,2008,Kolkata,Hyderabad,Kolkata,110,10,18.4,...,38.0,3.0,7.3,81.0,4.0,6.0,0.0,0.0,Afternoon,0
4,5,League Match,Apr 20,2008,Mumbai,Mumbai,Bangalore,165,6,20.0,...,76.0,3.0,9.0,118.0,4.0,9.6,166.0,5.0,Evening,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509,510,League Match,May 17,2015,Hyderabad,Hyderabad,Mumbai,113,10,20.0,...,73.0,0.0,4.1,0.0,0.0,0.0,0.0,0.0,Evening,0
510,511,Qualifier 1,May 19,2015,Mumbai,Mumbai,Chennai,187,6,20.0,...,86.0,2.0,10.2,121.0,6.0,13.4,0.0,0.0,Evening,0
511,512,Eliminator,May 20,2015,Pune,Bangalore,Rajasthan,180,4,20.0,...,68.0,3.0,11.3,92.0,7.0,17.8,0.0,0.0,Evening,0
512,513,Qualifier 2,May 22,2015,Ranchi,Bangalore,Chennai,139,8,20.0,...,62.0,3.0,7.8,91.0,3.0,9.8,140.0,7.0,Evening,0
513,514,Final,May 24,2015,Kolkata,Mumbai,Chennai,202,5,20.0,...,67.0,1.0,13.6,112.0,4.0,18.2,161.0,8.0,Evening,0

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Data columns (total 43 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Match_Number                514 non-null    int64
 1   Match                       514 non-null    object
 2   Date                        514 non-null    object
 3   Year                        514 non-null    int64
 4   Venue                       514 non-null    object
 5   Team_Batting_First          514 non-null    object
 6   Team_Batting_Second         514 non-null    object
 7   Bat_First_Runs_Scored       514 non-null    int64
 8   Bat_First_Wickets_Lost      514 non-null    int64
 9   Bat_First_Overs_Consumed    514 non-null    float64
 10  Bat_First_Overs_Allocated   514 non-null    int64
 11  Bat_Second_Runs_Scored      514 non-null    int64
 12  Bat_Second_Wickets_Lost     514 non-null    int64
 13  Bat_Second_Overs_Consumed   514 non-null    float64
 14  Bat_Second_Overs_Allocated  514 non-null    float64
 15  Winner                      514 non-null    object
 16  Winning_Team                514 non-null    object
 17  Winning_Margin              514 non-null    float64
 18  Win_Type                    514 non-null    object
 19  Bat_First_Run_Rate          514 non-null    float64
 20  Bat_Second_Run_Rate         514 non-null    float64
 21  Balls_Remaining             514 non-null    float64
 22  Bat_First_5_ov_score        514 non-null    int64
 23  Bat_First_5_ov_wkts_lost    514 non-null    int64
 24  Bat_First_10_ov_score       514 non-null    float64
 25  Bat_First_10_ov_wkts_lost   514 non-null    float64
 26  Bat_First_15_ov_score       514 non-null    float64
 27  Bat_First_15_ov_wkts_lost   514 non-null    float64
 28  Bat_First_20_ov_score       514 non-null    float64
 29  Bat_First_20_ov_wkts_lost   514 non-null    float64
 30  Bat_Second_5_ov_score       514 non-null    int64
 31  Bat_Second_5_ov_wkts_lost   514 non-null    int64
 32  Bat_Second_5_ov_Req_RR      514 non-null    float64
 33  Bat_Second_10_ov_score      514 non-null    float64
 34  Bat_Second_10_ov_wkts_lost  514 non-null    float64
 35  Bat_Second_10_ov_Req_RR     514 non-null    float64
 36  Bat_Second_15_ov_score      514 non-null    float64
 37  Bat_Second_15_ov_wkts_lost  514 non-null    float64
 38  Bat_Second_15_ov_Req_RR     514 non-null    float64
 39  Bat_Second_20_ov_score      514 non-null    float64
 40  Bat_Second_20_ov_wkts_lost  514 non-null    float64
 41  Match_Time                  514 non-null    object
 42  Duckworth Lewis Used        514 non-null    object
dtypes: float64(22), int64(11), object(10)
memory usage: 172.8+ KB

In [34]:
df["Bat_First_10_ov_score"] = df["Bat_First_10_ov_score"].astype(int)
df["Bat_First_10_ov_wkts_lost"] = df["Bat_First_10_ov_wkts_lost"].astype(int)
df["Bat_First_15_ov_score"] = df["Bat_First_15_ov_score"].astype(int)
df["Bat_First_15_ov_wkts_lost"] = df["Bat_First_15_ov_wkts_lost"].astype(int)
df["Bat_First_15_ov_score"] = df["Bat_First_15_ov_score"].astype(int)
df["Bat_First_15_ov_wkts_lost"] = df["Bat_First_15_ov_wkts_lost"].astype(int)
df["Bat_First_20_ov_score"] = df["Bat_First_20_ov_score"].astype(int)
df["Bat_First_20_ov_wkts_lost"] = df["Bat_First_20_ov_wkts_lost"].astype(int)
df["Bat_Second_10_ov_score"] = df["Bat_Second_10_ov_score"].astype(int)
df["Bat_Second_10_ov_wkts_lost"] = df["Bat_Second_10_ov_wkts_lost"].astype(int)
df["Bat_Second_15_ov_score"] = df["Bat_Second_15_ov_score"].astype(int)
df["Bat_Second_15_ov_wkts_lost"] = df["Bat_Second_15_ov_wkts_lost"].astype(int)
df["Bat_Second_20_ov_score"] = df["Bat_Second_20_ov_score"].astype(int)
df["Bat_Second_20_ov_wkts_lost"] = df["Bat_Second_20_ov_wkts_lost"].astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Data columns (total 43 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Match_Number                514 non-null    int64
 1   Match                       514 non-null    object
 2   Date                        514 non-null    object
 3   Year                        514 non-null    int64
 4   Venue                       514 non-null    object
 5   Team_Batting_First          514 non-null    object
 6   Team_Batting_Second         514 non-null    object
 7   Bat_First_Runs_Scored       514 non-null    int64
 8   Bat_First_Wickets_Lost      514 non-null    int64
 9   Bat_First_Overs_Consumed    514 non-null    float64
 10  Bat_First_Overs_Allocated   514 non-null    int64
 11  Bat_Second_Runs_Scored      514 non-null    int64
 12  Bat_Second_Wickets_Lost     514 non-null    int64
 13  Bat_Second_Overs_Consumed   514 non-null    float64
 14  Bat_Second_Overs_Allocated  514 non-null    float64
 15  Winner                      514 non-null    object
 16  Winning_Team                514 non-null    object
 17  Winning_Margin              514 non-null    float64
 18  Win_Type                    514 non-null    object
 19  Bat_First_Run_Rate          514 non-null    float64
 20  Bat_Second_Run_Rate         514 non-null    float64
 21  Balls_Remaining             514 non-null    float64
 22  Bat_First_5_ov_score        514 non-null    int64
 23  Bat_First_5_ov_wkts_lost    514 non-null    int64
 24  Bat_First_10_ov_score       514 non-null    int32
 25  Bat_First_10_ov_wkts_lost   514 non-null    int32
 26  Bat_First_15_ov_score       514 non-null    int32
 27  Bat_First_15_ov_wkts_lost   514 non-null    int32
 28  Bat_First_20_ov_score       514 non-null    int32
 29  Bat_First_20_ov_wkts_lost   514 non-null    int32
 30  Bat_Second_5_ov_score       514 non-null    int64
 31  Bat_Second_5_ov_wkts_lost   514 non-null    int64
 32  Bat_Second_5_ov_Req_RR      514 non-null    float64
 33  Bat_Second_10_ov_score      514 non-null    int32
 34  Bat_Second_10_ov_wkts_lost  514 non-null    int32
 35  Bat_Second_10_ov_Req_RR     514 non-null    float64
 36  Bat_Second_15_ov_score      514 non-null    int32
 37  Bat_Second_15_ov_wkts_lost  514 non-null    int32
 38  Bat_Second_15_ov_Req_RR     514 non-null    float64
 39  Bat_Second_20_ov_score      514 non-null    int32
 40  Bat_Second_20_ov_wkts_lost  514 non-null    int32
 41  Match_Time                  514 non-null    object
 42  Duckworth Lewis Used        514 non-null    object
dtypes: float64(10), int32(12), int64(11), object(10)
memory usage: 148.7+ KB

In [24]:
print(df.isnull())

     Match_Number  Match   Date   Year  Venue  Team_Batting_First  \
0           False  False  False  False  False               False
1           False  False  False  False  False               False
2           False  False  False  False  False               False
3           False  False  False  False  False               False
4           False  False  False  False  False               False
..            ...    ...    ...    ...    ...                 ...
509         False  False  False  False  False               False
510         False  False  False  False  False               False
511         False  False  False  False  False               False
512         False  False  False  False  False               False
513         False  False  False  False  False               False

     Team_Batting_Second  Bat_First_Runs_Scored  Bat_First_Wickets_Lost  \
0                  False                  False                   False
1                  False                  False                   False
2                  False                  False                   False
3                  False                  False                   False
4                  False                  False                   False
..                   ...                    ...                     ...
509                False                  False                   False
510                False                  False                   False
511                False                  False                   False
512                False                  False                   False
513                False                  False                   False

     Bat_First_Overs_Consumed  ...  Bat_Second_10_ov_score  \
0                       False  ...                   False
1                       False  ...                   False
2                       False  ...                   False
3                       False  ...                   False
4                       False  ...                   False
..                        ...  ...                     ...
509                     False  ...                   False
510                     False  ...                   False
511                     False  ...                   False
512                     False  ...                   False
513                     False  ...                   False

     Bat_Second_10_ov_wkts_lost  Bat_Second_10_ov_Req_RR  \
0                         False                    False
1                         False                    False
2                         False                    False
3                         False                    False
4                         False                    False
..                          ...                      ...
509                       False                    False
510                       False                    False
511                       False                    False
512                       False                    False
513                       False                    False

     Bat_Second_15_ov_score  Bat_Second_15_ov_wkts_lost  \
0                     False                       False
1                     False                       False
2                     False                       False
3                     False                       False
4                     False                       False
..                      ...                         ...
509                   False                       False
510                   False                       False
511                   False                       False
512                   False                       False
513                   False                       False

     Bat_Second_15_ov_Req_RR  Bat_Second_20_ov_score  \
0                      False                   False
1                      False                   False
2                      False                   False
3                      False                   False
4                      False                   False
..                       ...                     ...
509                    False                   False
510                    False                   False
511                    False                   False
512                    False                   False
513                    False                   False

     Bat_Second_20_ov_wkts_lost  Match_Time  Duckworth Lewis Used
0                         False       False                 False
1                         False       False                 False
2                         False       False                 False
3                         False       False                 False
4                         False       False                 False
..                          ...         ...                   ...
509                       False       False                 False
510                       False       False                 False
511                       False       False                 False
512                       False       False                 False
513                       False       False                 False

[514 rows x 43 columns]

In [44]:
df.describe()

,Match_Number,Year,Bat_First_Runs_Scored,Bat_First_Wickets_Lost,Bat_First_Overs_Consumed,Bat_First_Overs_Allocated,Bat_Second_Runs_Scored,Bat_Second_Wickets_Lost,Bat_Second_Overs_Consumed,Bat_Second_Overs_Allocated,...,Bat_Second_5_ov_wkts_lost,Bat_Second_5_ov_Req_RR,Bat_Second_10_ov_score,Bat_Second_10_ov_wkts_lost,Bat_Second_10_ov_Req_RR,Bat_Second_15_ov_score,Bat_Second_15_ov_wkts_lost,Bat_Second_15_ov_Req_RR,Bat_Second_20_ov_score,Bat_Second_20_ov_wkts_lost
count,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,...,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000
mean,257.500000,2011.556420,158.690661,6.052529,19.741829,19.830739,144.937743,5.682879,18.360311,19.694942,...,1.237354,8.296518,71.776265,2.369650,8.651498,103.433852,3.603113,9.629689,91.001946,4.046693
std,148.523287,2.199089,29.834495,2.149202,1.262853,1.176669,29.142722,2.796304,2.550423,1.786241,...,1.028865,2.163219,17.988586,1.434582,3.060865,34.272109,1.998555,5.574128,77.541952,3.692593
min,1.000000,2008.000000,67.000000,1.000000,8.000000,8.000000,44.000000,0.000000,4.200000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,129.250000,2010.000000,139.250000,4.000000,20.000000,20.000000,127.000000,3.000000,18.100000,20.000000,...,0.000000,7.060000,61.000000,1.000000,6.925000,95.000000,2.000000,6.000000,0.000000,0.000000
50%,257.500000,2012.000000,160.000000,6.000000,20.000000,20.000000,146.000000,6.000000,19.300000,20.000000,...,1.000000,8.260000,71.500000,2.000000,8.800000,108.000000,4.000000,9.600000,132.000000,5.000000
75%,385.750000,2013.000000,179.000000,8.000000,20.000000,20.000000,163.000000,8.000000,20.000000,20.000000,...,2.000000,9.660000,83.000000,3.000000,10.600000,122.000000,5.000000,13.200000,158.000000,7.000000
max,514.000000,2015.000000,263.000000,10.000000,20.000000,20.000000,223.000000,10.000000,20.000000,20.000000,...,6.000000,23.660000,131.000000,8.000000,18.800000,195.000000,10.000000,30.600000,223.000000,10.000000